{% extends "_layouts/cp" %}

{% do view.registerCssFile('https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css') %}

{% block actionButton %}
  <div class="buttons">
    <span class="btn" onClick="window.location.reload()" data-icon="refresh"></span>
  </div>
{% endblock %}

{% block content %}

  {% include "stripe-checkout/_charges/partials/outcome" %}

  {% include "stripe-checkout/_charges/partials/paymentDetails" %}

  {% include "stripe-checkout/_charges/partials/metadata" %}

  {% include "stripe-checkout/_charges/partials/source" %}

{% endblock %}
