{% extends "_layouts/elementindex" %}

{% set elementType = 'lukeyouell\\stripecheckout\\elements\\Charge' %}

{% block actionButton %}
  <div class="buttons">
    <span class="btn" onClick="window.location.reload()" data-icon="refresh"></span>
  </div>
{% endblock %}
