<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stripe Checkout</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-indigo min-h-screen flex items-center font-sans text-indigo-dark">

  <div class="w-full max-w-sm mx-auto my-4 rounded shadow-md overflow-hidden">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
