{% extends "checkout/_layouts/main" %}

{% set charge = craft.app.session.getFlash('charge') %}

{% block content %}

  <div class="bg-white p-8">
    {% if charge %}
      <div class="border-grey border-dotted border-b">
        <h1 class="text-2xl font-light mb-4">Charge Confirmation</h1>
        <p class="text-sm text-grey-dark leading-normal mb-4">Praesent facilisis placerat libero, non varius mauris tempor sit amet. Ut lobortis sed nisi vitae blandit.</p>
      </div>

      <div class="flex text-sm text-grey-dark border-grey border-dotted border-b">
        <div class="flex-grow py-4">
          Stripe ID
        </div>
        <div class="flex-shrink py-4">
          {{ charge.stripeId }}
        </div>
      </div>

      <div class="flex text-sm text-grey-dark border-grey border-dotted border-b">
        <div class="flex-grow py-4">
          Email
        </div>
        <div class="flex-shrink py-4">
          {{ charge.email }}
        </div>
      </div>

      <div class="flex text-sm text-grey-dark border-grey border-dotted border-b">
        <div class="flex-grow py-4">
          Amount
        </div>
        <div class="flex-shrink py-4">
          {{ (charge.amount / 100)|number_format(2, '.', ',') }} {{ charge.currency|upper }}
        </div>
      </div>
    {% else %}
      <div class="text-sm text-red">Charge data not available.</div>
    {% endif %}
  </div>

{% endblock %}
